@charset "utf-8";


#slider {
    position:relative;
    width:960px; /* Change this to your images width */
    height:200px; /* Change this to your images height */
    background:url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
#slider a {
    border:0;
    display:block;
}

			/*TOP NAVIGATION*/
#navcontainer {
clear:both;
width : 99.6%;
padding-bottom:40px;
position:relative;
z-index:99;
}
